[Unit]
Description=Compare AUR package version with upstream on GitHub (on Docker container)

[Service]
Type=oneshot
WorkingDirectory=REPOSITORY_LOCATION
ExecStart=/usr/bin/docker-compose run app

[Install]
WantedBy=default.target
